
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .panel-default .panel-heading {
        background-color: #ffffff;
    }

    .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
        content: "\e114"; /* adjust as needed, taken from bootstrap.css */
        float: right; /* adjust as needed */
        color: grey; /* adjust as needed */
    }

    .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    }
</style>

<div class="well">
    <h4 class="text-center col-sm-12"><b>History Data Aplikasi</b></h4>
    <div class="clearfix"></div>
    @* Search Area *@
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        ADVANCED SEARCH
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="SA" class="control-label col-sm-1">SA</label>
                            <div class="col-sm-3" id="divSA">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" id="SA">
                                    <span class="input-group-addon">
                                        <input type="checkbox" value="SA">
                                    </span>
                                </div>
                            </div>
                            <label for="Fund" class="control-label col-sm-1">Fund</label>
                            <div class="col-sm-3" id="divFund">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" id="Fund">
                                    <span class="input-group-addon">
                                        <input type="checkbox" value="Fund">
                                    </span>
                                </div>
                            </div>
                            <label for="MI" class="control-label col-sm-1">MI</label>
                            <div class="col-sm-3" id="divMI">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" id="MI">
                                    <span class="input-group-addon">
                                        <input type="checkbox" value="MI">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="Ref" class="control-label col-sm-1">Reference</label>
                            <div class="col-sm-3" id="divSARef">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" id="SARef">
                                    <span class="input-group-addon">
                                        <input type="checkbox" value="SARef">
                                    </span>
                                </div>
                            </div>
                            <label for="Investor" class="control-label col-sm-1">Investor</label>
                            <div class="col-sm-3" id="divInvestor">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" id="Investor">
                                    <span class="input-group-addon">
                                        <input type="checkbox" value="Investor">
                                    </span>
                                </div>
                            </div>
                            <label for="Nominal" class="control-label col-sm-1">Nominal</label>
                            <div class="col-sm-3" id="divNominal">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control text-right" id="Nominal" oninput="this.value = this.value.replace(/[^0-9]/g, ''); Separator('Nominal')">
                                    <span class="input-group-addon">
                                        <input type="checkbox" value="Nominal">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="Match" class="control-label col-sm-1">Match/Reject</label>
                            <div class="col-sm-3" id="divMatch">
                                <div class="input-group input-group-sm">
                                    <select class="form-control" id="Match">
                                        <option value="true" selected>Match</option>
                                        <option value="false">Reject</option>
                                    </select>
                                    <span class="input-group-addon">
                                        <input type="checkbox" class="checked" value="Match" checked disabled>
                                    </span>
                                </div>
                            </div>
                            <label class="col-sm-1 control-label">Tgl. Match</label>
                            <div class="col-sm-3" id="divMatchDate">
                                <div class="input-group input-group-sm">
                                    <input id="MatchDate" name="Tanggal" value="" class="form-control reservation" />
                                    <span class="input-group-addon">
                                        <input type="checkbox" class="checked" value="MatchDate" checked disabled>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-danger btn-sm pull-right" id="btnReset" onclick="Reset()" style="margin:5px;">Reset</button>
                                <button type="button" class="btn btn-default btn-sm pull-right" id="btnSearch" onclick="Search()" style="margin:5px;">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="table" class="table table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tanggal Upload</th>
                <th>Tanggal Match</th>
                <th>Tanggal Transaksi</th>
                <th>SA</th>
                <th>Fund</th>
                <th>MI</th>
                <th>SA Reference</th>
                <th>Nama Investor</th>
                <th>Nominal</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
        </thead>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title text-center" id="myModalLabel">View Detail</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Tanggal Match</label>
                                <div class="col-lg-8">
                                    <input type="text" disabled class="form-control input-sm" id="tanggalMatch">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">User Match</label>
                                <div class="col-lg-8">
                                    <input type="text" disabled class="form-control input-sm" id="UserMatch">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Keterangan User</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" disabled rows="2" id="keteranganUser"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Tanggal Approve</label>
                                <div class="col-lg-8">
                                    <input type="text" disabled class="form-control input-sm" id="tanggalApprove">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">User Approver</label>
                                <div class="col-lg-8">
                                    <input type="text" disabled class="form-control input-sm" id="UserApprove">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Keterangan Approver</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" disabled rows="2" id="keteranganApprove"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <h4 class="text-center">Data Aplikasi</h4>
                <table id="tabelDetApp" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Tanggal Upload</th>
                            <th>Tanggal Transaksi</th>
                            <th>SA</th>
                            <th>Fund</th>
                            <th>MI</th>
                            <th>SA Reference</th>
                            <th>Nama Investor</th>
                            <th>Nominal</th>
                        </tr>
                    </thead>
                    <tbody class="tbodyapp"></tbody>
                </table>
                <fieldset>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-offset-6 col-lg-2 control-label">Total Dana Aplikasi</label>
                        <div class="col-lg-4">
                            <input type="text" disabled class="form-control text-right" id="totalApp">
                        </div>
                    </div>
                </fieldset>
                <hr />
                <h4 class="text-center">Data Fund</h4>
                <table id="tabelDetFund" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Tanggal Upload</th>
                            <th>Tanggal Transaksi</th>
                            <th>No Rekening</th>
                            <th>Nama Rekening</th>
                            <th>Mata Uang</th>
                            <th>Keterangan</th>
                            <th>Jumlah</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody class="tbodyfund"></tbody>
                </table>
                <fieldset>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-offset-6 col-lg-2 control-label">Total Dana Fund</label>
                        <div class="col-lg-4">
                            <input type="text" disabled class="form-control text-right" id="totalFund">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Content/sweetalert/sweetalert.min.js"></script>
<script>
    $(document).ready(function () {
        $('.reservation').daterangepicker();

        GetList(null);
    });

    function GetList(Data) {
        @{
            bool role = false;
            if (User.IsInRole("Asisten") || User.IsInRole("Admin")) { role = true; }
        }

        var checkRole = '@role';

        //jQuery DataTables initialization
        var table = $('#table').DataTable({
            "destroy": true,
            "processing": true, // for show processing bar
            "serverSide": true, // for process on server side
            "orderMulti": false, // for disable multi column order
            "searching": false, // for disable default search
            "lengthMenu": [[10, 25, 50], [10, 25, 50]],
            "pageLength": 10,
            "scrollX": true,
            //"stateSave": true, // remain unchange after resfresh browser
            "ajax": {
                "url": "@Url.Action("GetList", "HistoryMatchApps")",
                "type": "POST",
                "data": { Data: Data },
                "datatype": "json"
            },
            "columns": [
                { "data": "TransaksiId", "name": "TransaksiId" }, //index 0
                { "data": "TanggalUpload", "name": "TanggalUpload", "render": function (d) { return moment(d).format('DD/MM/YY') } }, //index 1
                { "data": "TanggalMatch", "name": "TanggalMatch", "render": function (d) { return moment(d).format('DD/MM/YY') } },             //index 2
                { "data": "TanggalTransaksi", "name": "TanggalTransaksi", "render": function (d) { return moment(d).format('DD/MM/YY') } },         //index 3
                { "data": "SA", "name": "SA" },               //index 4
                {
                    "data": "Fund", "name": "Fund",
                    "render": function (d) {
                        return d.substr(11, d.length)
                    }
                },   //index 5
                { "data": "MI", "name": "MI" },   //index 6
                { "data": "SAReference", "name": "SAReference" },   //index 7
                { "data": "InvestorFundUnitName", "name": "InvestorFundUnitName" },   //index 8
                { "data": "AmountNominal", "name": "AmountNominal", "render": $.fn.dataTable.render.number(',', '', 0, '') },   //index 9
                {
                    "render": function (data, type, row) {
                        return "<span class='label label-xs label-" + row.MatchingWarna + "'>" + row.MatchingNama + "</span>"
                    }
                },   //index 10
                {
                    "render": function (data, type, row) {
                        if(checkRole){
                            if (row.MatchingId == 1 || row.MatchingId > 11) {
                                return "<td><div class='btn-group-vertical'><button class='btn btn-info btn-xs' onclick='GetById(" + row.TransaksiId + ")'>View</button> <button class='btn btn-danger btn-sm' disabled>Reversal</button></div></td>"
                            } else {
                                return "<td><div class='btn-group-vertical'><button class='btn btn-info btn-xs' onclick='GetById(" + row.TransaksiId + ")'>View</button> <button class='btn btn-danger btn-sm' onclick ='Reversal(" + row.TransaksiId + ")'>Reversal</button></div></td>"
                            }
                        }else{
                            return "<td><div class='btn-group-vertical'><button class='btn btn-info btn-xs' onclick='GetById(" + row.TransaksiId + ")'>View</button></div></td>"
                        }
                        
                    }
                }
            ],
            'columnDefs': [
                {
                    'targets': 0, 'visible': false
                },
                {
                    'targets': 4, 'render': $.fn.dataTable.render.ellipsis(15)
                },
                {
                    'targets': 5, 'width': '200px'
                }
            ]
        });
    }

    function Search() {
        ClearError();

        if ($('#collapseOne input:checkbox:checked').length > 0) {
            var gagal = false;
            var Data = new Object();
            $('#collapseOne input:checkbox:checked').each(function () {
                if ($.trim($("#" + $(this).val()).val()) == "") {
                    $("#div" + $(this).val()).addClass("has-error");
                    gagal = true;
                    return;
                } else {
                    if ($(this).val() == "Match") {
                        eval('Data.' + $(this).val() + '="' + $("#" + $(this).val()).val() + '"');
                    } else if ($(this).val() == "MatchDate") {
                        var daterange = $("#" + $(this).val()).val();
                        var start = formatYMD(daterange.substring(0, 10));
                        var end = formatYMD(daterange.substring(13, 24));

                        eval('Data.Start' + $(this).val() + '="' + start + '"');
                        eval('Data.End' + $(this).val() + '="' + end + '"');
                    } else if ($(this).val() == "Nominal") {
                        eval('Data.' + $(this).val() + '=' + $("#" + $(this).val()).val().replaceAll(',', ''));
                    }
                    else {
                        eval('Data.' + $(this).val() + '="' + $("#" + $(this).val()).val() + '"');
                    }
                    eval('Data.Option' + $(this).val() + '= true');
                }
            })

            if (!gagal) {
                $("#table").DataTable().clear();

                GetList(Data);
            } else {
                swal("Oops", "Input your keyword!", "error");
            }
        } else {
            swal("Oops", "Checklist chehckbox first!", "error");
        }
    }

    function Reset() {
        date = new Date();
        var year = date.getFullYear();
        var month = (1 + date.getMonth()).toString();
        month = month.length > 1 ? month : '0' + month;
        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;
        var tgl = month + '/' + day + '/' + year;

        $('input[type=checkbox]').not('.checked').each(function () {
            this.checked = false;
        });

        $('input[type=text]').val('');
        $("#Match")[0].selectedIndex = 0;
        $('#MatchDate').val(tgl + " - " + tgl).change();

        $("#table").DataTable().clear();
        GetList(null);
    }

    function Separator(text) {
        var Angka = Math.floor(parseInt($("#" + text).val()));
        if (isNaN(Angka)) {
            Angka = 0;
        }
        $("#" + text).val(pluskoma(Angka ? Angka : 0)).trigger("change");
    }

    function GetById(id) {
        $.ajax({
            url: "@Url.Action("GetIdApp", "HistoryMatchApps")" + "/" + id,
            type: "GET",
            dataType: "json",
            success: function (result) {
                $.ajax({
                    url: "@Url.Action("GetIdAppDet", "HistoryMatchApps")" + "/" + id,
                    type: "GET",
                    dataType: "json",
                    success: function (result) {
                        clearscreen();
                        $('#tanggalMatch').val(formatDate(result.CreateDate));
                        $('#keteranganUser').val(result.KeteranganInputer);
                        $('#UserMatch').val(result.Inputer.Nama);
                        if (result.Approver != null) {
                            $('#tanggalApprove').val(formatDate(result.UpdateDate));
                            $('#keteranganApprove').val(result.KeteranganApprover);
                            $('#UserApprove').val(result.Approver.Nama);
                        }
                        $("#myModalLabel").text('View Detail - ' + result.Matching.Nama + ' ' + result.Matching.Keterangan);
                    }
                })
                var totalapp = 0;
                var htmlapp = '';
                $.each(result.allDataAplikasi, function (index, val) {
                    index++;
                    htmlapp += '<tr>';
                    htmlapp += '<td>' + index + '</td>';
                    htmlapp += '<td>' + formatDate(val.DataAplikasi.CreateDate) + '</td>';
                    htmlapp += '<td>' + formatDate(val.DataAplikasi.TransactionDate) + '</td>';
                    htmlapp += '<td>' + val.DataAplikasi.SA.Nama + '</td>';
                    htmlapp += '<td>' + val.DataAplikasi.Fund.Nama + '</td>';
                    htmlapp += '<td>' + val.DataAplikasi.MI.Nama + '</td>';
                    htmlapp += '<td>' + val.DataAplikasi.SAReference + '</td>';
                    htmlapp += '<td>' + val.DataAplikasi.InvestorFundUnitName + '</td>';
                    htmlapp += '<td>' + pluskoma(val.DataAplikasi.AmountNominal) + '</td>';
                    htmlapp += '</tr>';
                    totalapp = totalapp + val.DataAplikasi.AmountNominal;
                });
                $('.tbodyapp').html(htmlapp);
                $('#totalApp').val(pluskoma(totalapp));

                var totalfund = 0;
                var htmlfund = '';
                $.each(result.allDataFund, function (index, val) {
                    index++;
                    htmlfund += '<tr>';
                    htmlfund += '<td>' + index + '</td>';
                    htmlfund += '<td>' + formatDate(val.DataFund.CreateDate) + '</td>';
                    htmlfund += '<td>' + formatDate(val.DataFund.Tanggal) + '</td>';
                    htmlfund += '<td>' + val.DataFund.Rekening.NoRek + '</td>';
                    htmlfund += '<td>' + val.DataFund.Rekening.NamaRek + '</td>';
                    htmlfund += '<td>' + val.DataFund.CCY + '</td>';
                    htmlfund += '<td>' + val.DataFund.Keterangan + '</td>';
                    htmlfund += '<td>' + pluskoma(val.DataFund.Jumlah) + '</td>';
                    htmlfund += '<td>' + pluskoma(val.DataFund.Saldo) + '</td>';
                    htmlfund += '</tr>';
                    totalfund = totalfund + val.DataFund.Jumlah;
                });
                $('.tbodyfund').html(htmlfund);
                $('#totalFund').val(pluskoma(totalfund));

                $('#myModal').modal('show');
            }
        })
    }

    function Reversal(id) {
        bootbox.prompt({
            title: "Are you sure to reversal this?",
            inputType: 'textarea',
            placeholder: 'Enter Description',
            buttons: {
                cancel: {
                    label: 'Cancel'
                },
                confirm: {
                    label: 'Reversal',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    items = JSON.stringify({ 'id': id, 'keterangan': result });
                    $.ajax({
                        url: "@Url.Action("Reversal", "HistoryMatchApps")",
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: items,
                        success: function () {
                            swal({
                                title: "Success!",
                                text: "The data has been saved!",
                                type: "success",
                                showCancelButton: false,
                                showConfirmButton: false,
                                timer: 1000
                            });

                            $('#table').DataTable().ajax.reload();
                        },
                        error: function (response) {
                            swal("Oops", "We couldn't connect to the server!", "error");
                        }
                    });
                } else if (result == "") {
                    swal({
                        title: "Failed!",
                        text: "Please enter a description!",
                        type: "warning",
                        showCancelButton: false,
                        showConfirmButton: false,
                        timer: 1000,
                    });
                }
            }
        });
    }

    function ClearError() {
        $(".has-error").removeClass("has-error");
    }

    function formatDate(dates) {
        date = new Date(parseInt(dates.substr(6)));
        var year = date.getFullYear();
        var month = (1 + date.getMonth()).toString();
        month = month.length > 1 ? month : '0' + month;
        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;
        return day + '/' + month + '/' + year;
    }

    function formatYMD(dates) {
        date = new Date(dates);
        var year = date.getFullYear();
        var month = (1 + date.getMonth()).toString();
        month = month.length > 1 ? month : '0' + month;
        var day = date.getDate().toString();
        day = day.length > 1 ? day : '0' + day;
        return year + '-' + month + '-' + day;
    }

    function pluskoma(num) {
        var number = '';
        var numrev = num.toString().split('').reverse().join('');
        for (var i = 0; i < numrev.length; i++) if (i % 3 == 0) number += numrev.substr(i, 3) + ',';
        return number.split('', number.length - 1).reverse().join('');
    }

    function clearscreen() {
        $('#tanggalMatch').val('');
        $('#keteranganUser').val('');
        $('#UserMatch').val('');
        $('#tanggalApprove').val('');
        $('#keteranganApprove').val('');
        $('#UserApprove').val('');
    }
</script>
